extends /application/Layout

block meta
  script(src="/pages/Home/bundle.js" defer)
  link(rel="stylesheet" href="/pages/Home/index.css")

block body
  .Home
    ul
      li
        a(href="/") HOME
      li
        a(href="/signin") SIGN IN
    h1 Hello Sample App
